.test-btn1, .test-btn2, .test-btn3 {
  position: fixed;
  z-index: 10000;
  width: 100px;
  height: 50px;
}

.test-btn1 {
  top: 50px;
  right: 350px;
}

.test-btn2 {
  top: 50px;
  right: 200px;
}

.test-btn3 {
  top: 50px;
  right: 50px;
}
/* --------------- reset css --------------- */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:focus {
  box-shadow: none !important;
}

p {
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: initial;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px;
}

table {
	border-collapse: collapse;
  border-spacing: 0;
}

label {
  margin: 0px;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family:
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img {
  vertical-align: middle;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.navbar-brand, 
.navbar {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  white-space: normal;
  max-height: 100%;
}

.breadcrumb {
  margin: 0px;
  padding: 0px;
}

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.btn:focus {
  box-shadow: none;
}

.page-link:focus {
  z-index: 3;
  outline: 0;
  box-shadow: none;
}

dl, ol, ul {
  margin: 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* --------------- kết thúc reset css --------------- */

h1 {
  font-size: 36px;
  font-weight: 700;
}

body {
  font-size: 16px;
  background-color: #000;
  height: 100vh;
  overflow: hidden;
}

.version-info {
  position: fixed;
  top: 20px;
  right: 30px;
  z-index: 10000;
  color: #000;
  cursor: default;
}

.screen {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}

.modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.transition-screen {
  width: 100%;
  height: 100vh;
  background-color: #000;
  position: fixed;
  z-index: 2000;
  transition: all 1s;
}

.title-box {
  position: relative;
  z-index: 1001;
  background-color: #fff;
  box-shadow: 0 0 20px #fff;
  border-radius: 16px;
  padding: 30px;
  transition: all 0.5s;
  min-width: 268px;
}

.title-box form, .title-box h1 {
  margin-bottom: 40px;
} 

.title-box input {
  margin-bottom: 20px;
  padding: 5px 15px;
  border-radius: 8px;
}

.title-box .btn {
  border: 1px solid rgb(68, 68, 68);
  border-radius: 8px;
  font-size: 16px;
}

.title-box .btn:hover {
  background-color: black;
  color: #fff;
}

.to-register, .to-login {
  color: #0d6efd;
  cursor: pointer;
}

.show-up {
  display: initial;
}

.hidden {
  display: none !important;
}

.hidden--fade {
  opacity: 0 !important;
  visibility: hidden !important;
}

.loading {
  position: fixed;
  bottom: 70px;
  left: calc(50% - 93px);
  color: #fff;
}


