/* ---------- reset css ----------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

table {
	border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family:
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img {
  vertical-align: middle;
  height: auto;
  max-width: 100%;
}


/* ---------- kết thúc reset css ----------*/

@font-face {
  font-family: Inconsolata;
  src: url("/Minimo/Minimo/FONTS/Inconsolata/Inconsolata-Regular.ttf");
}

@font-face {
  font-family: PlayfairDisplay;
  src: url("/Minimo/Minimo/FONTS/Playfair_Display/PlayfairDisplay-Regular.ttf");
}

.page-container {
  max-width: 1060px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 70px 0px 36px 0px;
}

nav {
  display: flex;
  align-items: center;
  width: 55%;
}

header ul {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0px !important;
}

main {
  width: 100%;
  margin: 0px auto;
}

main img {
  display: block;
  margin: 100px auto 0px auto;
}

.photodiary, .blogs {
  max-width: 900px;
  margin: auto;
}

.blogs {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.posts {
  max-width: 420px;
}

.sign-up {
  height: 285px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  border-bottom: 1px solid black;
}

input {
  width: 90%;
  border: none;
}

button {
  width: 10%;
}

footer {
  width: 100%;
}