
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

.page-container {
  width: 960px;
  background-color: rosybrown;
}

header {
  background-color: black;
  display: flex;
  flex-flow: row nowrap;
  height: 100px;
  align-items: center;
}

.top-nav-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}

.top-nav-items a {
  color: #b8b6b4;
  font-family: "Motiva Sans", Sans-serif;
  text-transform: uppercase;
}

.main-logo img{
  height: 45px;
}

.main-logo {
  margin-left: 50px;
}

.top-nav-container {
  width: 400px;
}

.