*  {
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color:black;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightcoral;
}

.box {
  display: inline-block;
  width: 25%;
  padding: 0;
  margin: 0;
}

p {
  text-align: center;
}

.logo {
  width: 100px;
  vertical-align: ;
}

.logo, nav, li {
  display: inline-block;
}

li {
  
  border: 1px solid black;

/*
#first {
  background-color: red;
  height: 300px;
  width: 300px;
  border: 5px solid black;
}

#second {
  background-color: blue;
  height: 300px;
  width: 300px;
  border: 5px dashed black;


}

#third {
  background-color: green;
  height: 300px;
  width: 300px;
  border: 5px dotted black;
}

div {
  margin-bottom: 10px;
  border-radius: 30px;
}

.container {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

*/
