/* style chung page */
* {
  box-sizing: border-box;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.page-container {
  width: 960px;
  background-image: url("colored_body_top2.png")

}

.title {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Motiva Sans", Sans-serif;
  margin-left: 15px;
} 

/* style cho header bao gồm: logo, top navigator, login/sign up */

header {
  background-color: #171a21;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.top-nav-items a,.bot-nav-container a, .login-container a{
  color: #b8b6b4;
  font-family: "Motiva Sans", Sans-serif;
}

/* style cho logo */

.main-logo-container {
  margin-left: 3%;
  width: 20%;
  height: 90px;
  display: flex;
  align-items: center;
}

.main-logo-container img{
  height: 45px;
}

/* style cho top navigator */

.top-nav-container {
  width: 50%;
  height: 90px;
  display: flex;
  align-items: center; 
}

.top-nav {
  height: 100%;
  width: 80%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.top-nav-list {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.top-nav-items, .top-nav-items a {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

/* style cho log in / sign up */
.login-container {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 25%;
}

/* ---------------------------style chung toàn bộ main content--------------------------- */

main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

/* ---style cho bot navigator--- */

.bot-nav-container {
  display: flex;
  max-width: 100%;
  background: rgba( 62, 126, 167, 0.8);
  box-shadow: 0 0 3px rgba( 0, 0, 0, 0.4);
  margin: 30px 15px 30px 15px;
  height: 35px;
}

.bot-nav {
  width: 100%;
}

.bot-nav-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.bot-nav-menu {
  display: flex;
  flex-flow: row nowrap;
  width: 70%;
  justify-content: flex-start;
}

.bot-nav-items {
  
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  border-right: 1px solid rgb(66, 66, 66);
}

.bot-nav-search {
  display: flex;
  flex-flow: row nowrap;
  width: 25%;
  justify-content: flex-end;
}

#search {
  border: none;
}

#search-box {
  background-color: transparent;
  color: #d9dadd;
}

::placeholder { 
  color: #d9dadd;
  opacity: 1; 
  font-style: italic;
}

:-ms-input-placeholder { 
  color: #d9dadd;
  font-style: italic;
}

::-ms-input-placeholder { 
  color: #d9dadd;
  font-style: italic;
}

.bot-nav-items:not(#search):hover {
  background-color: aliceblue;
}

.bot-nav-items a {
  font-size: 13px;
  color: #d9dadd;
  font-weight: 300;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 10px 20px 10px 20px;
}

.bot-nav-items a:hover {
  color: #171a21;
}

/* ---style cho main-banner và minor-banner--- */

.main-banner video {
  max-width: 100%;
}

.minor-banner, .minor-banner a{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin: 20px 0px 20px 0px;
}

.minor-banner img{
  max-width: 90%;
  box-shadow: 0 0 10px rgba(0,0,0,1)
}

.minor-banner img:hover{
  box-shadow: 0 0 10px rgb(218, 218, 218)
}

/* ---style cho các đề mục--- */

.categories {
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  flex-flow: column nowrap;
}

/* ---style cho gói sp: link + không gian bao quanh--- */
.products {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

/* ---style cho gói link: link là ảnh + giá dạng cột--- */
.products-link {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
  width: 20%;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  background: linear-gradient( -45deg, rgba(64,121,153,1) 5%,rgba(42,62,89,1) 95%);
}

/* ---style cho gói link mục giảm giá: link là ảnh + 2 mức giá dạng row--- */
.discounted-products-link {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 20%;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  background: linear-gradient( -45deg, rgba(64,121,153,1) 5%,rgba(42,62,89,1) 95%);
}

/* ---đổi màu hover lên các items--- */
.products-link:hover, .discounted-products-link:hover, .more-button a:hover {
  box-shadow: 0 0 10px rgb(218, 218, 218)
}

/* ---giới hạn kích thước ảnh products--- */
.products-link img, .discounted-products-link img {
  width: 100%;
}

/* ---tạo khung cho phần giá--- */
.products-link p, .discounted-products-link p {
  margin: 0;
  margin: 3px;
  padding: 3px;
  font-size: 14px;
  background-color: rgb(33, 52, 83);
  color: #acdbf5;
}

/* ---style cho nút see more--- */
.more-button {
  align-self: flex-end;
  margin-top: 20px;
  
}

.more-button a {
  padding: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  font-size: 15px;
  color:  rgb(241, 241, 241);
}

/* ----------------------------------style cho footer---------------------------------- */
footer {
  margin-top: 80px;
}

.copyright {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
  border-top: 1px solid rgb(136, 136, 136);
  border-bottom: 1px solid rgb(136, 136, 136);
  padding: 5px 0px 5px 0px;
  height: 60px ;
}

.footer-valve-logo {
  width: 15% ;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-valve-logo img {
  height: 60% ;
}

.copyright p {
  color: #b7c2cc;
  font-size: 12px;
  margin: 0;
}

.copy-rights-links {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 60%;
  justify-content: space-evenly;
}

.copyright a {
  color:white;
  font-size: 12px;
}

.copyright-info {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 634px;
}

.contacts a, .contacts h2 {
  display: flex;
  align-items: center;
  margin: 0;
  font-family: "Motiva Sans", Sans-serif;
  margin: 15px 0px 20px 15px;
  font-size: 15px;
}

.contacts {
  display: flex;
  flex-flow: row nowrap;
  width: 25%;
  justify-content: space-around;
}


/* ---------------------------style thông báo lỗi--------------------------- */
.error {
  margin-left: 40px;
  font-weight: 100;
  font-family: "Motiva Sans", Sans-serif;
}