/* ---------- reset css ----------*/
* {
  box-sizing: border-box;
  margin: 0;
  
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

table {
	border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding-inline-start: 0px;
}
/* ---------- kết thúc reset css ----------*/

/* ---------- tổng quan ----------*/
.page-wrapper {
  width: 1080px;
  margin: 0px auto 0px auto;
  background-color: rgb(229, 229, 229);
  
}

/* ---------- header: logo + searchbar ----------*/

header {
  
  width: 1080px;
  height: 72px;
}

.logo-container {
  width: 225px;
  float: left;
  height: 69px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
}

.logo-container img {
  padding: 10px 35px 10px 25px;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
  
}

.header-bar {
  width: 855px;
  float: right;
  padding: 13px 0px 13px 0px;
  background-color: rgb(245, 245, 245);
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);

}

.search-area {
  width: 575px;
  float: left;
}

.account {
  width: 200px;
  float: right;
}

input[type="text"] {
  width: 505px;
  border: 1px;
  padding: 12px 15px 12px 15px;
  float: left;
}

.text-search:focus {
  outline: none;
}

input[type="image"] {
  width: 50px;
  float: left;
  padding: 12px 18px 12px 18px;
  background-color: #6b8fdd;
}

.account-link {
  display: block;
  height: 40px;
  width: 140px;
}

.account img {
  width: 40px;
  float: left;
  height: 40px;
}

.account p {
  display: block;
  float: right;
  padding: 12px 0px 10px 0px;
  font-size: 17px;
  font-family: poppins,sans-serif;
}

aside {
  width: 225px;
  background-color: rgb(255, 255, 255);
  height: 800px;
  position: relative;
  bottom: 4px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
}

nav {
  padding: 30px 10px 10px 40px;
}

nav a {
  display: block;
  color: #555;
  font-size: 16px;
  padding: 15px 0;
  font-family: poppins,sans-serif;
  font-weight: 400;
  line-height: 1.625;
}

nav a:hover {
  color: #4272d7;
}

aside {
  float: left;
}

.main-area {
  float: right;
  width: 855px;
  position: relative;
  bottom: 4px;
  background-color: rgb(229, 229, 229);
}

section {
  width: 855px;
  background-color: rgb(229, 229, 229);
  height: 800px;
}

.section-title {
  width: 100%;
}

.section-title *{
  display: inline-block;
}

.section-title a{
  float: right;
  padding: 13px 20px 13px 30px;
  background-color: #4371d4;
  color: white;
  margin: 30px 20px 10px 0px;
  font-family: poppins,sans-serif;
  border-radius: 5px;
}

.section-title h1{
  padding: 10px 10px 10px 10px;
  margin: 30px 20px 10px 20px;
  font-family: poppins,sans-serif;
  font-weight: 300;
  font-size: 27px;
}

.section-area {
  width: 100%;
}

.section-items {
  width: 22%;
  float: left;
  padding: 40px;
  background-color: pink;
  margin-left: 2%;
  border-radius: 10px;
}

.section-items p {
  color: white;
}

.section-items:nth-child(1) {
  background-image: -webkit-linear-gradient(90deg,#3f5efb 0%,#fc466b 100%)
}

.section-items:nth-child(2) {
  background-image: -webkit-linear-gradient(90deg,#11998e 0%,#38ef7d 100%);
}

.section-items:nth-child(3) {
  background-image: -webkit-linear-gradient(90deg,#ee0979 0%,#ff6a00 100%);
}

.section-items:nth-child(4) {
  background-image: -webkit-linear-gradient(90deg,#45b649 0%,#dce35b 100%);
}


.big-items {
  margin-top: 30px;
  width: 45%;
  float: left;
  padding: 30px;
  background-color: white;
  margin-left: 3%;
  border-radius: 10px;
}

.big-items h2 {
  font-family: poppins,sans-serif;
  font-weight: 300;
}