
nav {
    border-style: solid;
    border-color: black;
    border-left: none;
    border-right: none;
}
 
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 0;
}

a {
    text-decoration: none;
    list-style-type: none;
    color: black;
}

a:hover {
    color: red;
}

li {
    padding: 10px;
    width: 33%;
    text-align: center;
}

footer {
    margin-top: 40px;
    text-align: center;
}

.postImage {
    width: 300px;
}

.copyRight{
    text-align: center;
}

