
/* ---------- reset css ----------*/
* {
  outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}
table {
	border-collapse: collapse;
  border-spacing: 0;
}

/* ---------- hết reset css ----------*/


/* ---------- style chung cho page ----------*/

main {
  width: 100%;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
}

#page-container {
  height: 715px;
  width: 980px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  
}

body {
  
}

#left-container img, #left-container h1, #left-container p {
  display: block;
}

#left-container h1, #left-container p {
  width: 100%;
}

#left-container img {
  width: 183px;
}

#logo {
  margin-bottom: 20px;
}

#left-container {
  display: flex;
  flex-flow: column nowrap;
  height: 70%;
}

#left-container h1 {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 28px;
}

#left-container p {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 16px;
}

#recent-login-container {
  display: flex;
  flex-flow: row nowrap;
  margin-top: 20px;
}

.recent-login-items:first-of-type {
  margin-right: 25px;
}

.recent-login-items p{
  text-align: center;
  padding: 12px 0px 12px 0px;
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  font-size: 30px;
}

.recent-login-items {
  background-color: white;
  width: 185px;
  border: 1px solid rgb(218, 210, 210);
}

#plus-icon {
  display: flex; align-items: center; justify-content: center; height: 184px; background-color: #f0f2f5;
}

.recent-login-items:hover {
  box-shadow: 0 1px 8px 5px #dddfe2;
}

/* --------- kết thúc left container ---------  */
/* --------- bắt đầu right container ---------  */

#right-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 90%;
  margin-top: 10%;
}

#area-container {
  display: flex;
  flex-flow: column wrap;
  align-items:center ;
  background-color: white;
  width: 400px;
  height: 350px;
  margin-top: -110px;
  box-shadow: 0 2px 8px 5px #dddfe2;
  border-radius: 7px;
}

#form-container {
  width: 100%;
}

#area-container > *{
  display: block;
}

#area-container a:nth-child(2) {
  color: #1877f2;
  font-size: 15px;
  margin: 10px 0px 20px 0px;
  border-bottom: 1px solid rgb(209, 209, 209);
  padding-bottom: 20px;
  width: 90%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

#area-container a:nth-child(2):hover {
  text-decoration: underline;
}

#log-in-form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

#log-in-form > * {
  margin: 10px 0px 5px 0px;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 7px;
  width: 90%;
  height: 50px;
}

#log-in-form:first-child {
  margin-top: 5px;
}

input[type="text"], input[type="password"] {
  font-size: 18px;
  color: black;
  padding: 0px 15px 0px 15px;
}

#log-in-id:focus, #log-in-ps:focus {
  background-color: #f0f0f5;
  border-color: #016dfb;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 18px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 18px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  font-size: 18px;
}

#log-in-btn {
  background-color: #1877f2;
  color: white;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

#log-in-btn:hover {
  background-color: #125ab9
}

#sign-up-btn {
  border-radius: 7px;
  width: 50%;
  height: 50px;
  background-color: #42b72a;
  color: white;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

#sign-up-btn:hover {
  background-color: #2e831d;
}

#right-container p {
  margin-top: 35px;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
}

#right-container p a {
  font-weight: bold;
}

#right-container p a:hover {
  text-decoration: underline;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(114, 114, 114);
}

footer a {
  color: rgb(117, 117, 117);
  font-size: 14px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 25px;
}

footer a:hover {
  text-decoration: underline;
}

#footer-container {
  width: 980px;
}

#language-list {
  display: flex;
  align-items: center;
  margin-top: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.language-list-items, .footer-list-items {
  margin-right: 12px;
}

#footer-list {
  display: flex;
  flex-flow: row wrap;
  padding-top: 10px;
  margin-bottom: 20px;
}

.out-link {
  width: 100%;
  text-align: center;
  margin-top: 40px;
  background-color: #dd6060;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.out-link a {
  color: white;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: bold;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*----------------------------------------------------------------*/

#reg-area-container {
  display: flex;
  flex-flow: column wrap;
  align-items:center ;
  background-color: rgba(255, 255, 255, 0.7);
  width: 2000px;
  height: 900px;
  position: absolute;
  top: 0px;
  left: -1000px;
  padding: 10px;
}

#mother {
  position: absolute;
  top: 98px;
  left: 1272px;
  width: 410px;
  height: 520px;
  box-shadow: 0 2px 8px 5px #dddfe2;
  background-color: white;
  line-height: 1.34;
  padding: 10px 10px 20px 10px;
  border-radius: 12px;
}

.form-wrapper {
  display: none !important;
}

#signup:checked + .form-wrapper {
  display: block !important;
}


#reg-form-container {
  width: 100%;
}

#reg-area-container > *{
  display: block;
}

#reg-sign-up-form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.reg-labels {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  width: 93%;
  border: none !important;
  margin: 10px 0px 0px 2px !important;
  font-size: 14px;
  color: #606770;
  font-family: Helvetica, Arial, sans-serif;
}

.half-size {
  width: 45%;
  height: 40px;
}

.full-size {
  width: 93%;
  height: 40px;
}

.third-size {
  width: 28%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px !important;
}

.third-size label {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  padding-left: 10px;
  width: 97px;
  font-size: 15px;
}

.third-size input {
  position: relative;
  right: 10px;
  height: 100%;
  padding-right: 10px;
  cursor: pointer;
}

reg-area-container select {
  font-size: 15px;
  cursor: pointer;
}

#reg-sign-up-form > *:not(#reg-dob-label) {
  margin: 5px 0px 5px 0px;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 7px;
}

#reg-sign-up-form:first-child {
  margin-top: 5px;
}

#reg-title-container {
  margin-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid rgb(195, 195, 195);
  width: 93%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

#reg-title-container h1, #reg-title-container p {
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
}

#reg-sign-up-ps {
  margin: 5px 0px 0px 0px !important;
}

#reg-title-container p {
  color: rgb(121, 121, 121);
  line-height: 30px;
}


reg-area-container input[type="text"], reg-area-container input[type="password"] {
  font-size: 18px;
  color: black;
  padding: 0px 15px 0px 5px;
}

#reg-sign-up-last:focus, #reg-sign-up-first:focus, #reg-sign-up-id:focus, #reg-sign-up-ps:focus {
  background-color: #f0f0f5;
  border-color: #016dfb;
}



reg-area-container::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 15px;
}

reg-area-container:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 15px;
}

reg-area-container::-ms-input-placeholder { /* Microsoft Edge */
  font-size: 15px;
}

#reg-buttons {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

#reg-sign-up-btn, #reg-log-in-btn {
  border-radius: 7px;
  width: 50%;
  height: 40px;
  width: 45%;
  color: white;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 20px;
}

#reg-sign-up-btn:hover {
  background-color: #2e831d;
}

#reg-container p:nth-child(3) {
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  text-align: justify; 
  width: 93%; 
  margin-top: 15px;
  color: rgb(102, 102, 102);
  font-size: 12px;
  margin-bottom: 15px;
}


#reg-area-container p a:hover {
  text-decoration: underline;
}

#reg-notice {
  margin: 15px auto 15px auto;
  display: block;
  width: 100%;
  font-size: 12px;
  color: #777 ;
  font-family: Helvetica, Arial, sans-serif;
  margin-block-start: 1em;
  margin-block-end: 1em;
}
#reg-notice a {
  color:rgb(35, 118, 251);
}

#close {
  display: block;
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 40px;
  font-weight: 600;
}

#signup:checked *:not(#reg-area-container) {
  opacity: 0.4;
}

input[type="checkbox"] {
  display: none !important;
}

