
/* ---------- bắt đầu reset css ----------*/
* {
  outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}
ul {
  list-style-type: none;
}
table {
	border-collapse: collapse;
  border-spacing: 0;
}

/* ---------- kết thúc reset css ----------*/
/* ---------- bắt đầu style chung cho page ----------*/

main {
  width: 100%;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
}

#reg-page-container {
  height: 750px;
  width: 980px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

/* ---------- kết thúc style chung cho page ----------*/
/* --------- bắt đầu upper container ---------  */
#reg-upper-container img {
  display: block;
}

#reg-upper-container img {
  width: 183px;
  margin: 40px 0px 90px 0px
}

#reg-upper-container {
  display: flex;
  flex-flow: row nowrap;
}

/* --------- kết thúc upper container ---------  */
/* --------- bắt đầu lower container ---------  */

#lower-container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  height: 80%;
}

#area-container {
  display: flex;
  flex-flow: column wrap;
  align-items:center ;
  background-color: white;
  width: 400px;
  height: 600px;
  margin-top: -110px;
  box-shadow: 0 2px 8px 5px #dddfe2;
  border-radius: 7px;
}

#form-container {
  width: 100%;
}

#area-container > *{
  display: block;
}

#sign-up-form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.labels {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  width: 93%;
  border: none !important;
}

.half-size {
  width: 45%;
  height: 40px;
}

.full-size {
  width: 93%;
  height: 40px;
}

.third-size {
  width: 28%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.third-size label, .third-size input {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.third-size label {
  width: 60%;
}

#that {
  margin-right: 15px;
}

select {
  text-align-last: center;
  -moz-text-align-last: center;
  -ms-text-align-last: center;
  font-size: 15px;
  cursor: pointer;
}

#sign-up-form > *:not(#dob-label) {
  margin: 10px 0px 5px 0px;
  border: 1px solid rgb(195, 195, 195);
  border-radius: 7px;
}

#sign-up-form:first-child {
  margin-top: 5px;
}

#title-container {
  margin-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(195, 195, 195);
  width: 93%;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}

#title-container h1, #title-container p {
  font-family: SFProDisplay-Bold, Helvetica, Arial, sans-serif;
}

#title-container p {
  color: rgb(121, 121, 121);
  line-height: 30px;
}


input[type="text"], input[type="password"] {
  font-size: 18px;
  color: black;
  padding: 0px 15px 0px 15px;
}

#sign-up-last:focus, #sign-up-first:focus, #sign-up-id:focus, #sign-up-ps:focus {
  background-color: #f0f0f5;
  border-color: #016dfb;
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 18px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 18px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  font-size: 18px;
}

#buttons {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
}

#sign-up-btn, #log-in-btn {
  border-radius: 7px;
  width: 50%;
  height: 50px;
  width: 45%;
  color: white;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

#sign-up-btn:hover {
  background-color: #2e831d;
}

#lower-container p:nth-child(3) {
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  text-align: justify; 
  width: 93%; 
  margin-top: 15px;
  color: rgb(102, 102, 102);
  font-size: 12px;
  margin-bottom: 15px;
}

#lower-container p a {
  color:rgb(35, 118, 251);
}

#lower-container p a:hover {
  text-decoration: underline;
}


/* --------- kết thúc lower container ---------  */
/* --------- bắt đầu footer ---------  */


footer {
  width: 100%;
  display: flex;
  justify-content: center;
  color: rgb(114, 114, 114);
}

footer a {
  color: rgb(117, 117, 117);
  font-size: 14px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 25px;
}

footer a:hover {
  text-decoration: underline;
}

#footer-container {
  width: 980px;
}

#language-list {
  display: flex;
  align-items: center;
  margin-top: 25px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(209, 209, 209);
}

.language-list-items, .footer-list-items {
  margin-right: 12px;
}

#footer-list {
  display: flex;
  flex-flow: row wrap;
  padding-top: 10px;
  margin-bottom: 20px;
}
