/* 
Map:
*/

/* -------------------- portal styles -------------------- */
/* 
Map: 
1. Chung


2. Carousel (till-md)


3. Full (md)


*/

/* ---------- settings chung ---------- */

main {
  position: relative;
}

section {
  padding: 40px 0px;
}

.portal {
  width: 100%;
  position: relative;
  padding-top: 0px;
  padding-bottom: 0px;
}

.section__header {
  margin-bottom: 30px;
}

.portal__header {
  position: absolute;
  top: 60px;
  left: calc(50% - 80px);
  z-index: 5;
}

.hub-row__btn {
  margin-top: 30px;
}

/* ---------- hết settings chung ---------- */

/* ---------- banner-carousel styles ---------- */

.banner-carousel {
  padding: 50px 0px 0px 0px;
  height: 420px;
}

.banner-carousel--dslr {
  background-color: #B4DDA5;
}

.banner-carousel--mrl {
  background-color: #daa2da;
}

.banner-carousel__img {
  max-width: 220px;
  margin: 0px calc(50% - 110px) 0px calc(50% - 110px);
}

.banner-carousel__caption {
  padding: 0px;
  margin-bottom: 30px;
}

.banner-carousel__text--dslr {
  color: black;
}

.banner-carousel__btn {
  margin: 10px auto 5px auto;
  width: fit-content;
}

#camera-carousel .carousel-indicators {
  margin-bottom: 25px;
  height: 14px;
}

#camera-carousel .carousel-indicators li {
  border: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("../img/img--misc/halo-logo-white.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px 3px;
}

#camera-carousel .carousel-indicators .active {
  background-image: url("../img/img--misc/halo-logo-white--active.png");
}

/* ---------- hết banner-carousel styles ---------- */

/* -------------------- hết portal styles -------------------- */


/* -------------------- hub-row styles -------------------- */

/* ---------- row styles ---------- */
.hub-row {
  position: relative;
}

.slick-prev,
.slick-next {
  /*ẩn nút ở các màn nhỏ hơn xl*/
  display: none !important; 
}

/* ---------- card (hub) styles ---------- */
.item {
  /* width 250, height 360 */
  width: calc(50vw - 20px); 
  padding: 15px 10px;
  border-radius: 8px;
  border: 1px solid #bbbbbb;
  margin: 0px 5px;
}

.item .card-img-top {
  /*thumbnail 180*/
  width: 100%; 
  max-width: 180px;
  margin: auto;
}

.item .card-body {
  padding: 10px 0px 0px 0px;
}

.card-title {
  line-height: 18px;
  min-height: 56px;
}

.price {
  color: #CC2929;
  line-height: 24px;
  font-size: 16px;
  margin: 5px 0px;
}

.item .seemore-btn {
  width: 90px;
  margin: 15px auto 0px auto;
  font-size: 12px;
  line-height: 16px;
  padding: 5px 10px;
}

/* ---------- sale items module ---------- */
.sale-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.old-price {
  font-size: 14px;
  text-decoration: line-through;
}

.sale-badge img {
  height: 12px;
  margin: 0px 5px;
}

/* -------------------- hết hub-row styles -------------------- */


/* -------------------- media queries -------------------- */

@media only screen and (min-width: 576px) {
  .card-title {
    min-height: 30px;
  }
  
  /* --------------- update banner-carousel --------------- */
  .banner-carousel {
    padding: 80px 0px 0px 0px;
    height: 550px;
  }

  .banner-carousel__img {
    max-width: 300px;
    margin: 0px calc(50% - 150px) 0px calc(50% - 150px);
  }

  #camera-carousel .carousel-indicators {
    height: 16px;
  }
  
  #camera-carousel .carousel-indicators li {
    width: 16px;
    height: 16px;
    margin: 0px 6px;
  }

  .portal__header {
    top: 70px;
    left: calc(50% - 107px);
  }

  .banner-carousel__text {
    font-size: 16px;
  }

  .banner-carousel__btn,
  .hub-row__btn {
    font-size: 12px;
  }

  /* --------------- hết update banner-carousel --------------- */

}

@media only screen and (min-width: 768px) {

  .hub-row__btn {
    margin-top: 40px;
  }

  .nav-item:first-child a {
    padding-bottom: 0px !important;
    border-bottom: 2px solid white;
  }

  section:not(:last-child) {
    padding-bottom: 0px;
  }

  /* --------------- banner-full --------------- */
  .portal {
    position: relative;
  }

  .banner-full {
    position: relative;
    z-index: 5;
    margin: 50px 0px;
  }

  .banner-full__img {
    max-width: 220px;
  }

  .portal__bg {
    height: 360px; 
    /* height 2 banner (height ảnh) = 260 + margin b-t 50px */
    width: 100%;
    display: flex !important;
    position: absolute;
  }

  .portal__bg--green {
    background-color: #B4DDA5;
    width: 50%;
    height: 100%;
  }

  .portal__bg--green:hover {
    background-color: #acda9b;
  }

  .portal__bg--pink {
    background-color: #dba8db;
    width: 50%;
    height: 100%;
  }

  .portal__header span:last-child {
    color: white;
  }

  .banner-full {
    justify-content: space-between;
  }

  .banner-full__text-area {
    display: flex;
    flex-direction: column;
  }

  .banner-full__text {
    font-size: 14px;
  }

  .banner-full--dslr {
    padding-right: 15px;
  }

  .banner-full--mrl {
    padding-left: 15px;
  }

  .banner-full__text--dslr {
    text-align: end;
  }

  .banner-full__btn {
    margin: 10px 0px 0px 0px;
    font-size: 10px;
  }

  .banner-full__btn--dslr {
    width: 111px;
    align-self: flex-end;
  }

  .banner-full__btn--mrl {
    padding: 5px 7px;
    align-self: flex-start;
  }

  .portal__btn {
    font-size: 12px;
    z-index: 5;
    position: absolute;
    bottom: 30px;
    left: calc(50% - 64px);
  }
  /* --------------- hết banner-full --------------- */

  /* ---------- update card (hub) styles ---------- */
  .item.card {
    /* width 222 */
    width: 222px;
    padding: 20px 10px;
    margin: 0px 10px;
  }

  .item .card-body {
    padding: 20px 0px 0px 0px;
  }

  .price {
    line-height: 30px;
    font-size: 24px;
    margin: 15px 0px;
  }

  .item .seemore-btn {
    margin: 15px auto 0px auto;
    font-size: 16px;
    line-height: 20px;
    padding: 5px 15px;
    width: 120px;
  }

  /* ---------- sale items module ---------- */
  .sale-text {
    flex-wrap: nowrap;
  }

  /* ---------- hết update card (hub) styles ---------- */

  .hub-row__banner {
    margin-top: 30px;
  }

}

@media only screen and (min-width: 992px) {
  /* --------------- update banner-full --------------- */
  .portal__header {
    top: 75px;
  }

  .portal__bg {
    height: 454px;
    /* height 2 banner (height ảnh) = 354 + margin b-t 50px */
  }

  .banner-full__img {
    max-width: 300px;
  }

  .portal__btn {
    bottom: 40px;
  }
  /* --------------- hết update banner-full --------------- */
}

@media only screen and (min-width: 1200px) {

  .hub-row__btn {
    margin-top: 50px;
  }

  /* --------------- update banner-full --------------- */
  .portal__bg {
    height: 575px;
    /* height 2 banner (height ảnh) = 425 + margin b-t 60px */
  }

  .banner-full {
    margin: 0px;
    padding: 75px 0px;
  }

  .banner-full__img {
    max-width: 360px;
  }

  .banner-full {
    justify-content: space-between;
  }

  .banner-full--dslr {
    padding-right: 25px;
  }
  
  .banner-full--mrl {
    padding-left: 25px;
  }

  .banner-full__text {
    font-size: 20px; 
  }

  .banner-full__btn,
  .portal__btn {
    margin: 15px 0px 0px 0px;
    font-size: 14px;
  }
  
  .banner-full__btn--dslr {
    width: 150px;
    align-self: flex-end;
  }
  
  .banner-full__btn--mrl {
    padding: 5px 7px;
    align-self: flex-start;
  }

  .portal__btn {
    width: 150px;
    left: calc(50% - 75px);
    border-color: white !important;
    background-color: rgba(225, 225, 225, 0.15);
  }
  /* ---------------hết update banner-full --------------- */

  
  /* --------------- update hub-row --------------- */
  .hub-row {
    padding: 50px;
  }

  .slick-prev,
  .slick-next {
    display: block !important;
    border: none;
    width: 25px;
    background-color: transparent;
    position: absolute;
    z-index: 5;
    top: calc(50% - 26.65px);
  }

  .slick-prev {
    left: -50px;
  }

  .slick-next {
    right: -50px;
  }

  .hub-row__btn {
    font-size: 16px;
    width: 130px;
    line-height: 25px;
  }

  /* --------------- hết update hub-row --------------- */

  /* ---------- update card (hub) styles ---------- */
  .hub-row .card {
    /* width 222 */
    width: 237.5px;
    padding: 20px 10px;
    margin: 0px 15px;
  }

  .hub-row .card-body {
    padding: 20px 0px 0px 0px;
  }

  .hub-row .seemore-btn {
    margin: 15px auto 0px auto;
    font-size: 16px;
    line-height: 20px;
    padding: 5px 15px;
  }

  /* ---------- sale items module ---------- */
  .sale-text {
    flex-wrap: nowrap;
  }

  /* ---------- hết update card (hub) styles ---------- */

}


