/* 
Map:
*/

/* -------------------- portal styles -------------------- */
/* 
Map: 
1. Chung


2. Carousel (till-md)


3. Full (md)


*/

/* --------------- settings chung --------------- */

section {
  padding: 40px 0px;
}

.portal {
  width: 100%;
  position: relative;
  padding-top: 50px !important;
  padding-bottom: 0px !important;
}

.section__header {
  margin-bottom: 30px;
}

.portal__header {
  position: absolute;
  top: 60px;
  left: calc(50vw - 80px);
  z-index: 1;
}

.banner__text {
  text-align: center;
}

.item-row__btn {
  margin-top: 30px;
}

/* --------------- hết settings chung --------------- */

/* --------------- carousel styles --------------- */

.banner-carousel--dslr,
.banner-carousel--mrl {
  padding: 50px 0px 0px 0px;
  height: 420px;
}

.banner-carousel--dslr {
  background-color: #B4DDA5;
}

.banner-carousel--mrl {
  background-color: #daa2da;
}

.banner-carousel__img {
  max-width: 220px;
  margin: 0px calc(50vw - 110px) 0px calc(50vw - 110px);
}

.banner-carousel__caption {
  padding: 0px;
  margin-bottom: 30px;
}

.banner-carousel--dslr .banner__text {
  color: black;
}

.banner-carousel__btn {
  margin: 10px auto 5px auto;
  width: fit-content;
}

#camera-carousel .carousel-indicators {
  margin-bottom: 25px;
  height: 14px;
}

#camera-carousel .carousel-indicators li {
  border: none;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("../img/misc-img/halo-logo-white.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px 3px;
}

#camera-carousel .carousel-indicators .active {
  background-image: url("../img/misc-img/halo-logo-white--active.png");
}

/* --------------- hết carousel styles --------------- */

/* --------------- full styles --------------- */

.portal {
  position: relative;
}

.banner-full {
  position: relative;
  margin-top: 15px;
  z-index: 5;
}

.banner-full__img {
  max-width: 220px;
}

.portal__bg {
  height: 350px;
  width: 100%;
  display: flex !important;
  position: absolute;
}

.portal__bg--green {
  background-color: #B4DDA5;
  width: 50%;
  height: 100%;
}

.portal__bg--pink {
  background-color: #daa2da;
  width: 50%;
  height: 100%;
}

.portal__header span:last-child {
  color: white;
}

.banner-full--dslr {
  justify-content: flex-start;
}

.banner-full--mrl {
  justify-content: flex-end;
}

.banner-full__btn,
.portal-btn {
  font-size: 12px;
  line-height: 15px;
}

.banner-full--mrl .banner-full__btn {
  font-size: 10px;
  padding: 5px 7px;
}

.portal-btn {
  z-index: 5;
  position: relative;
}
/* --------------- hết full styles --------------- */


/* -------------------- hết portal styles -------------------- */


/* -------------------- item rows styles -------------------- */


.item-row .card {
  width: 100%;
  max-width: 260px;
  padding: 20px 10px;
  border-radius: 8px;
  border: 1px solid #bbbbbb;
  margin: 0px 10px;
}

.item-row .card-img-top {
  width: 100%;
  max-width: 180px;
  margin: auto;
}

.item-row .card-body {
  padding: 10px 0px 0px 0px;
}

.card-title {
  line-height: 18px;
}

.price {
  color: #CC2929;
  line-height: 30px;
  margin: 10px 0px;
}

.sale-text {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.old-price {
  text-decoration: line-through;
}

.sale-badge img {
  height: 12px;
  margin: 0px 5px;
}

.seemore-btn {
  width: fit-content;
  margin: 20px auto 0px auto;
  line-height: 20px;
  padding: 5px 15px;
}

/* -------------------- hết item rows styles -------------------- */

@media only screen and (min-width: 576px) {
  #camera-carousel .carousel-indicators {
    height: 16px;
  }
  
  #camera-carousel .carousel-indicators li {
    width: 16px;
    height: 16px;
    margin: 0px 6px;
  }

  .portal__header {
    position: absolute;
    top: 60px;
    left: calc(50vw - 108px);
    z-index: 1;
  }

}

@media only screen and (min-width: 768px) {
  #camera-carousel .carousel-indicators {
    height: 20px;
  }
  
  #camera-carousel .carousel-indicators li {
    width: 20px;
    height: 20px;
    margin: 0px 8px;
  }

  .banner-full {
    margin-top: 30px;
  }

  .portal__header {
    top: 70px;
    left: calc(50vw - 107.5px);
  }
}

@media only screen and (min-width: 992px) {

  .portal__bg {
    height: 450px;
  }

  .banner-full {
    
  }

  .banner-full__img {
    max-width: 300px;
  }

}

@media only screen and (min-width: 1200px) {
  .portal__bg {
    height: 350px;
  }

  .banner-full__img {
    max-width: 400px;
  }

  .banner-full--dslr {
    padding-top: 0px;
  }

  .banner-full--dslr img {
    margin-right: auto;
  }
  
  .banner-full--mrl img {
    margin-left: auto;
  }

}


