
body {
  
}

/* ---------- carousel styles ----------*/

#main-carousel, 
.carousel-inner, 
.carousel-item {  /* -- kéo dài --*/ 
  min-height: 450px; 
}

.banner-1 {
  background-image: url('../img/carousel-img/banner-bg-1-min.jpg');
  background-size: cover;
}

.banner-2 {
  background-color: rgb(105,105,105);
  background-image: url('../img/carousel-img/alpha-logo-big-v2.png'), linear-gradient(180deg, rgba(105,105,105,1) 0%, rgba(48,48,48,1) 66%, rgba(0,0,0,1) 100%);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center, center;
}

.banner-3 {
  background-image: url('../img/carousel-img/outer-ring.png'), url('../img/carousel-img/banner-bg-3.png');
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center, top;
}

.carousel-caption {
  width: 100%;
  position: static;
  padding: 20px 0px 0px 0px;   /* -- lề trên -- */
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.logo-wrapper-1 {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  width: 110px;
  margin: 15px auto;
}

.logo-wrapper-2 {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 160px;
  margin: 15px auto;
}

.logo-only, 
.logo-wrapper-3 {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.logo-only {
  padding: 10px 0px 14px 0px;
}

.eos-r, .carousel-header4, .big-title {
  color: white !important;
  text-align: center;
}

#main-carousel .seemore-btn {
  margin: 15px auto 40px auto;
}

#main-carousel .btn {
  width: 70px;
  display: block;
}

.carousel-caption__extra {
  display: none;
}

.progress {
  background-color: transparent;
}

.progress-bar {
  background-color: #CC0000;
  opacity: 0.95;
}

.carousel-control-prev,
.carousel-control-next {
  opacity: 1;
  width: 23px;
}

.carousel-control-prev {
  left: 15px;
}

.carousel-control-next {
  right: 15px;
}

.a9-logo {
  height: 20px;
  margin-bottom: 5px;
}

.banner-2 .progress-bar {
  background-color: #E94E09;
}

.lotr-logo {
  height: 59px;
}

.collab {
  margin: 0px 15px;
  font-size: 20px;
}

.sony-logo-inline {
  font-size: 13px !important;
  font-style: normal;
}

.logo-wrapper-3 {
  margin: 15px auto;
}

.carousel-caption__img {
  height: calc(100vw / 1.6725);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.banner-1 .carousel-caption__img {
  background-image: url("../img/carousel-img/eos-r-banner-min.png");
}

.banner-2 .carousel-caption__img {
  background-image: url("../img/carousel-img/a9-banner-min.png");
}

.banner-3 .carousel-caption__img {
  background-image: url("../img/carousel-img/e-mount-banner-min.png");
}

.carousel-indicators {
  margin-bottom: 0px;
}

/*--------*/

@media only screen and (min-width: 768px) {

  /*---------- carousel full version ----------*/
  #main-carousel, 
  .carousel-inner, 
  .carousel-item {  /* -- kéo dài --*/ 
  min-height: 650px; 
  }

  .carousel-caption {
    flex-flow: row wrap;
  }

  .carousel-caption h1 {
    width: 100%;
  }

  .carousel-caption__img {
    width: 410px;
    height: calc(410px / 1.6725);
  }
  
  .banner-1 .carousel-caption__img {
    background-image: url("../img/carousel-img/eos-r-banner-max.png");
  }
  
  .banner-2 .carousel-caption__img {
    background-image: url("../img/carousel-img/a9-banner-max.png");
  }
  
  .banner-3 .carousel-caption__img {
    background-image: url("../img/carousel-img/e-mount-banner-min.png");
  }

}