
section {
  padding: 30px 0px;
}

#payment-card {
  width: 100%;
  max-width: 350px;
  height: calc(63vw - 30px);
  max-height: 220px;
  color: #fff;
  border-radius: 12px;
  perspective: 1000px;
  background-color: transparent;
}

.payment-card__content  {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 12px;
  background-image: url("../img/img--payment/cardback-1.png");
  background-size: contain;
  background-position: center;
  backdrop-filter: blur(20px);
}

#payment-card:hover .payment-card__content {
  transform: rotateY(180deg);
}

.front {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 15px 20px;
}

.payment-card__chip {
  width: 15%;
  margin-top: 12%;
}

.payment-card__brands {
  width: 25%;
  margin-left: auto;
}

.front__num,
.front__name {
  width: 100%;
}

.front__valid-text,
.front__valid-dates {
  width: fit-content;
}

.front__num {
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  margin-top: 3%;
  font-weight: 500;
  letter-spacing: 2px;
}

.front__valid-text {
  font-size: 7px;
  margin-right: 10px;
  margin-top: 3px;
}

.front__name {
  font-weight: 500;
}

.back {
  transform: rotateY(180deg);
  transition: none;
  padding: 15px 0px;
}

.stripe {
  width: 100%;
  height: 20%;
  background-color: black;
}

.back__content {
  padding: 0px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cvv{
  width: 85%;
  background-color: white;
  color: black;
  text-align: end;
  padding: 2.5px 10px;
  letter-spacing: 1px;
  margin-top: 5%;
  margin-bottom: 7%;
}

.stamp {
  background-color: #e6e6e6;
  width: 20%;
  height: calc((100vw - 70px) / 8);
  border-radius: 8px;
}

.back__text  {
  font-size: 8px;
  width: calc(80% - 15px);
}

.payment-card__input {
  margin-top: 30px;
}

.input__dates {
  display: flex;
  flex-wrap: wrap;
  margin: 15px auto;
}

.input__dates label {
  width: 100%;
}

#input__month,
#input__year {
  width: 60px;
  padding-top: 6.5px;
  padding-left: 10px;
}

.input__dates span {
  font-size: 18px;
  
}




