
section {
  padding: 25px 0px;
}

.sub-section {
  max-width: 340px;
  margin: auto;
}

.main-header {
  font-size: 16px;
  background-color: #C4C4C4;
  padding-left: 10px;
  font-weight: bold;
}

.sub-header {
  font-size: 14px;
  margin: 10px auto;
  font-weight: bold;
}

.inner-header {
  font-weight: bold;
}

.summary__row--right,
.summary__row--left {
  width: 47%;
}

.summary__row {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding-bottom: 2px;
}

.summary__row:nth-child(3),
.summary__row:nth-child(4) {
  border-bottom: 1px solid #777777;
}

.coupon__input {
  padding-left: 5px;
  width: 80px;
}

.coupon__content {
  display: none;
}

.coupon__text:first-child {
  font-size: 10px;
  font-style: italic;
  margin: 5px 0px 5px 0px;
}

.guess__info * {
  margin-bottom: 10px;
  border-radius: 8px;
  resize: none;
}

.method__toggler {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.method__toggler label {
  margin: 2px 0px 0px 5px;
}

.method__content {
  margin: 5px auto 20px auto;
}

#payment__method .sub-header {
  margin-top: 50px;
}





.payment-card__content  {
  perspective: 1000px;
  background-color: transparent;
  border-radius: 12px;
  color: #fff;
  position: relative;
  width: 100%;
  max-width: 350px;
  height: calc(63vw - 30px);
  max-height: 220px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}

.front, .back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 12px;
  background-image: url("../img/img--carousel/banner-bg-1-min.jpg");
  background-size: contain;
  background-position: center;
  backdrop-filter: blur(20px);
}

#payment-card:hover .payment-card__content {
  transform: rotateY(180deg);
}

.front {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 15px 20px;
}

.payment-card__chip {
  width: 15%;
  margin-top: 12%;
}

#domestic-card .payment-card__brands {
  width: 30%;
}

.payment-card__brands {
  width: 25%;
  margin-left: auto;
}

.front__num,
.front__name {
  width: 100%;
}

.front__valid-text,
.front__valid-dates {
  width: fit-content;
}

.front__num {
  font-family: 'Orbitron', sans-serif;
  font-size: 14px;
  margin-top: 3%;
  font-weight: 500;
  letter-spacing: 2px;
}

.front__valid-text {
  font-size: 7px;
  margin-right: 10px;
  margin-top: 3px;
}

.front__name {
  font-weight: 500;
}

.back {
  transform: rotateY(180deg);
  transition: none;
  padding: 15px 0px;
}

.stripe {
  width: 100%;
  height: 20%;
  background-color: black;
}

.back__content {
  padding: 0px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cvv{
  width: 85%;
  background-color: white;
  color: black;
  text-align: end;
  padding: 2.5px 10px;
  letter-spacing: 1px;
  margin-top: 5%;
  margin-bottom: 7%;
}

.stamp {
  background-color: #e6e6e6;
  width: 20%;
  height: calc((100vw - 70px) / 8);
  border-radius: 8px;
}

.back__text  {
  font-size: 8px;
  width: calc(80% - 15px);
}

.payment-card__input {
  margin-top: 30px;
}

.input__dates {
  display: flex;
  flex-wrap: wrap;
  margin: 15px auto;
}

.input__dates label {
  width: 100%;
}

.input__month,
.input__year,
#visa-master-input__cvv {
  width: 60px;
  padding-left: 10px;
}

.input__dates span {
  font-size: 18px;
}

@media only screen and (min-width: 375px) {
  .summary__row--left {
    width: 55%;
  }

  .summary__row--right {
    width: 45%;
  }

}


