* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

table {
	border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family:
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

img {
  vertical-align: middle;
  height: auto;
  max-width: 100%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------- hết reset css -------- */

.header6 {
  position: relative;
}

input {
  display: none;
}

label {
  position: relative;
  font-size: 40px;
  cursor: pointer;
  z-index: 2;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  color: white;
}

.logo-button-container6 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: orange;
}

.logo6 {
  width: 100px;
  height: 30px;
  background-color: pink;
  font-size: 15px;
}

.menu-container6 {
  width: 100%;
  background-color: orange;
  padding: 80px 15px 15px 15px;
  position: absolute;
  top: -300%;
  transition: top 0.5s;
}

li {
  background-color: rgb(48, 123, 236);
  border: 1px solid black;
  height: 30px;
}

li a {
  color: white;
  font-size: 15px;
  width: 100%;
  height: 100%;
}

li:hover {
  background-color: rgb(48, 72, 212);
}

.main6, .main7 {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.content6 {
  width: 100%;
  height: 150px;
  background-color: rgb(48, 123, 236);
}

.bai6 input:checked + div {
  top: 0;
}

@media only screen and (min-width: 768px) {
  label, .bai6 li:first-of-type {
    display: none !important;
  }
  .logo-button-container6 {
    width: 100px;
    padding: 0px;
    background-color: green;
  }
  .menu-container6 {
    position: static;
    width: auto;
    background-color: green;
    padding: 0px;
  }
  .header6 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    height: 60px;
    padding: 15px;
  }
  ul {
    display: flex;
  }
  li a{
    padding: 10px;
  }
}



.logo7 {
  width: 80px;
  height: 20px;
  background-color: pink;
  font-size: 15px;
  margin-left: 15px;
  z-index: 2;
}

.logo-button-container7 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  background-color: orange;
}

.header7 {
  position: relative;
}

.menu-container7 {
  width: 100%;
  background-color: orange;
  padding: 80px 15px 15px 15px;
  position: absolute;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.6s, opacity 0.6s;
}

.bai7 input:checked + div {
  display: block;
  visibility: visible;
  opacity: 1;
}

.content7-1, .content7-2 {
  background-color: rgb(48, 123, 236);
  height: 150px;
  width: 100%;
  margin-bottom: 15px;
}

.bai7 ul:last-of-type {
  display: none;
}

@media only screen and (min-width: 768px) {
  .content7-1 {
    width: calc((100% - 15px) * 0.75);
  }

  .content7-2 {
    width: calc((100% - 15px) * 0.25);
  }

  .logo7 {
    margin: 0;
  }

  .header7 {
    display: flex;
  }

  .logo-button-container7 {
    width: 110px;
    background-color: green;
  }

  .bai7 li:nth-of-type(4), .bai7 li:nth-of-type(5) {
    display: none;
  }

  .menu-container7 {
    visibility: visible;
    opacity: 1;
    background-color: green;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: calc(100% - 110px);
    padding: 15px;
    position: relative;
    height: 60px;
  }

  .bai7 ul:last-of-type {
    display: flex;
  }

  


}


