* {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 22.5px;
}

main {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.content {
  display: flex;
  flex-flow: row wrap;
  width: calc((100%-90px)* (2/3));
  padding: 0px 22.5px 0px 22.5px;
  height: 230px;
}

.items {
  background-color: blue;
  height: 100px;
  width: calc((100% - 30px)/2);
  margin: 7.5px;
}

aside {
  margin-top: 7.5px;
  background-color: blue;
  width: calc((100%-90px)* (1/3) - 30px);
  height: 280px;
}


