extends parts/layout.pug

block css
  link(rel="stylesheet", href="css/cart.css")

block title
  title Giỏ hàng

block content
  .breadcrumb-wrapper.container-xl
  ul.breadcrumb
    li.breadcrumb-item
      a(href='index.html') Trang chủ
    li.breadcrumb-item.active Giỏ hàng