extends parts/layout.pug

block css
  link(rel="stylesheet", href="css/details.css")

block title
  title Máy ảnh 1DX Mark III 

block content
  .container-xl.breadcrumb-wrapper
    ul.breadcrumb
      li.breadcrumb-item
        a(href='index.html') Trang chủ
      li.breadcrumb-item
        a(href='camera-hub.html') Máy ảnh
      li.breadcrumb-item
        a(href='dslr-hub.html') Máy ảnh DSLR
      li.breadcrumb-item.active Canon EOS 1DX Mark III