
extends parts/layout.pug

block css
  link(rel="stylesheet", href="css/index.css")

block title
  title Trang chủ

block content 
  include parts/main-carousel.pug

  h1 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis dolorem beatae non itaque doloremque repudiandae neque aut nisi eveniet, labore obcaecati, deserunt laborum, nihil tenetur consectetur nostrum. Fugiat, expedita suscipit.

  h1 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis dolorem beatae non itaque doloremque repudiandae neque aut nisi eveniet, labore obcaecati, deserunt laborum, nihil tenetur consectetur nostrum. Fugiat, expedita suscipit.

  h1 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis dolorem beatae non itaque doloremque repudiandae neque aut nisi eveniet, labore obcaecati, deserunt laborum, nihil tenetur consectetur nostrum. Fugiat, expedita suscipit.
  
block title
  title Trang chủ

