
extends parts/layout.pug

block css
  link(rel="stylesheet", href="css/index.css")

block title
  title Trang chủ

block content 
  include parts/main-carousel.pug

  section.intro
    .camera-intro__text
      h1 Máy ảnh DSLR/Mirrorless

      h2 
        | Phá bỏ giới hạn hình ảnh từ chiếc máy ảnh du lịch giá rẻ
        br
        | và cả smartphone đắt tiền của bạn

      button.btn.btn--dark.seemore-btn(type='button') Xem chi tiết

    .camera-intro__img
      img(src="img/body-img/camera-intro-img.png", alt="")

  section.intro
    .lens-intro__text
      h1 Máy ảnh DSLR/Mirrorless

      h2 
        | Phá bỏ giới hạn hình ảnh từ chiếc máy ảnh du lịch giá rẻ
        br
        | và cả smartphone đắt tiền của bạn

      button.btn.btn--dark.seemore-btn(type='button') Xem chi tiết

    .lens-intro__img
      img(src="img/lens-img/lens-intro-img.png", alt="")





