extends parts/layout.pug

block css
  link(rel="stylesheet", href="css/dslr-hub.css")
  link(rel="stylesheet", href="css/search-result.css")

block title
  title Kết quả tìm kiếm

block content

  img.search__banner.w-100(src="img/img--dslr-hub/dslr-banner-min.png", alt="")
  
  h1.search__header Kết quả tìm kiếm cho
  

