.card.item--min
  img.card-img-top(src='img/body-img/canon-eos-5d-mark-iv-card.jpg' alt='')
  .card-body.text-center
    p.card-title.font-weight-bold.font-18
      | Canon EOS 5D Mark IV
      br
      span.font-italic.font.font-weight-light.font-13 (Mới 100% fullbox)
    p.card-text.price.font-weight-bold.font-24 50.090.000đ
    p.card-text.sale-text.font-weight-bold
      span.old-price.font-16 58.090.000đ
      span.sale-badge
        img(src='img/misc-img/sale-badge.png' alt='')
      span.sale-amount.font-italic.font-12 (Giảm 8.000.000đ)
    a.btn.btn--dark.seemore-btn.font-18(href='#') Xem chi tiết 