.card.item.item--hot.item--love.item--sale
  img.card-img-top(src='img/img--camera-body/canon-eos-5d-mark-iv-card.jpg' alt='')
  img.item__badge.item__badge--hot(src="img/img--misc/badge--hot.png", alt="")
  img.item__badge.item__badge--love(src="img/img--misc/badge--love.png", alt="")
  .card-body.text-center
    p.item__name.font-weight-bold.font-18 Canon EOS 5D Mark IV
    p.font-italic.font-weight-light.item__subtext (Mới 100% fullbox)
    p.card-text.price.font-weight-bold 50.090.000đ
    .card-text.sale-text.font-weight-bold
      span.old-price 58.090.000đ
      img.item__badge.item__badge--sale(src='img/img--misc/badge--sale.png' alt='')
      span.sale-amount.font-italic (Giảm 8.000.000đ)
    a.btn.btn--dark.seemore-btn(href='details.html') Xem chi tiết 