.card.item
  img.card-img-top(src='img/img--item/item-4.jpg' alt='')
  .card-body.text-center
    p.card-title.font-weight-bold.font-18
      | Nikon D7500
      br
      span.font-italic.font.font-weight-light.font-13 (Mới 100% fullbox)
    p.card-text.price.font-weight-bold 17.990.000đ
    p.card-text.sale-text.font-weight-bold
      span.old-price 22.990.000đ
      span.sale-badge
        img(src='img/img--misc/badge--sale.png' alt='')
      span.sale-amount.font-italic (Giảm 5.000.000đ)
    a.btn.btn--dark.seemore-btn(href='details.html') Xem chi tiết 