footer.footer
  ul
    li
      a.nav-link.nav-items(href='#') ABC
      a.nav-link.nav-items(href='#') DEF
      a.nav-link.nav-items(href='#') GHI

  ul
    li
      a.nav-link.nav-items(href='#') XYZ
      a.nav-link.nav-items(href='#') LMAO
      a.nav-link.nav-items(href='#') ROLF
  
