header
  nav.navbar.navbar-expand-md.navbar-dark
    .container-xl.px-4.px-sm-5.px-xl-0

      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#collapsibleNavbar' aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon

      a.navbar-brand(href='index.html')
        img.header__logo(src="img/img--misc/logo-white.png", alt="")

      #collapsibleNavbar.collapse.navbar-collapse
        .search-bar-till-md
          input.search-area(type="text" placeholder="Tìm kiếm...")
          button.btn.search-btn
            <i class="fas fa-search"></i>

        ul.navbar-nav
          li.nav-item
            a.nav-link.py-3.px-md-3(href='camera-hub.html') Máy ảnh
          li.nav-item
            a.nav-link.py-3.px-md-3(href='camera-hub.html') Ống kính
          li.nav-item
            a.nav-link.py-3.px-md-3(href='camera-hub.html') Phụ kiện
          li.nav-item
            a.nav-link.py-3.px-md-3(href='review-hub.html') Đánh giá
          li.nav-item.display-till-md.log-min
            a.nav-link.py-3(href='#' data-toggle='modal' data-target='#logreg') Đăng nhập/Đăng ký

      .log-cart-search
        a#logregToggler.hidden-till-md.log-max(href='#' data-toggle='modal' data-target='#logreg') Đăng nhập/Đăng ký
        a.cart-icon(href="cart.html")
          <i class="fas fa-shopping-cart"></i>
        button.btn.search-btn.hidden-till-md.d-flex.align-items-center(onclick="searchBarToggler()")
          <i class="fas fa-search"></i>


      .search-bar.hidden-till-md
        input.search-area(type="text" placeholder="Tìm kiếm...")
        button.btn.search-btn
          <i class="fas fa-search"></i>
        button.btn.search-cancel.d-flex.align-items-center.justify-content-center(onclick="searchBarToggler()")
          <i class="fas fa-times"></i>

