
.main-carousel.single-item
  .slide-1
    .flex-column.justify-content-between.p-0

      h1.big-title Tiêu điểm tháng 1

      .logo-wrapper
        p.canon-logo Canon
        p.eos-r EOS R

      p.size-14 ĐỊNH NGHĨA LẠI CHUẨN MỰC HÌNH ẢNH HIỆN ĐẠI

      <button type="button" class="white-btn btn btn-outline-light text-light mx-auto">Xem chi tiết</button>

      img.banner-xs(src="img/body-img/eos-r-main-banner-xs.png" alt="")

  .slide-2
    h1.big-title Tiêu điểm tháng 1
    p DEF
  .slide-3
    h1.big-title Tiêu điểm tháng 1
    p XYZ

