
<div class="collapse show" id="payment-card">
  <div class="payment-card__content"> 
    <div class="front"> <img class="payment-card__chip" src="/halo/img/img--payment/chip.png" alt=""/><img class="payment-card__brands" src="/halo/img/img--payment/visacard-1.png" alt=""/>
      <p class="payment-card__num">&nbsp;</p>
      <p class="payment-card__valid-text">VALID DATES</p>
      <p class="payment-card__valid-dates"><span class="payment-card__month">&nbsp;</span><span>/</span><span class="payment-card__year">&nbsp;</span></p>
      <p class="payment-card__name">&nbsp;</p>
    </div>
    <div class="back">
      <div class="stripe"></div>
      <input type="text" placeholder="CVV"/>
      <p class="back__text">Tấm thẻ này là tài sản của ngân hàng phát hành. Nếu ai nhặt được, vui lòng gửi trả lại cho ngân hàng. Việc sử dụng tấm thẻ này phải tuân thủ các quy định về việc sử dụng thẻ của ngân hàng phát hành.</p>
    </div>
  </div>
</div>
<div class="payment-card__input"> 
  <form>
    <input class="front__number" type="text" name="" placeholder="Nhập số thẻ"/>
    <p class="front__date-label">Ngày hết hạn</p>
    <input class="front__name" type="text" name="" placeholder="Nhập tên chủ thẻ"/>
    <input class="front__name" type="text" name="" placeholder="Tháng"/>
    <input class="front__name" type="text" name="" placeholder="Năm"/>
  </form>
</div>