
#payment-card.collapse.show
  .payment-card__content 

    .front 
      img.payment-card__chip(src="/halo/img/img--payment/chip.png", alt="")
      img.payment-card__brands(src="/halo/img/img--payment/visacard-2.png", alt="")
      p.payment-card__num 0000 0000 0000 0000
      p.payment-card__valid-text VALID DATES
      p.payment-card__valid-dates
        span.payment-card__month MM
        span &nbsp;/&nbsp;
        span.payment-card__year YY
      p.payment-card__name JAMES BOND

    .back
      .stripe
      .back__content
        p.cvv CVV
        .stamp
        p.back__text Tấm thẻ này là tài sản của ngân hàng phát hành. Nếu ai nhặt được, vui lòng gửi trả lại cho ngân hàng. Việc sử dụng tấm thẻ này phải tuân thủ các quy định về việc sử dụng thẻ của ngân hàng phát hành.

.payment-card__input 
  form
    .form-group
      label(for='input__num') Nhập số thẻ:&nbsp;
        i (Viết liền, không dấu cách)
      input#input__num.form-control.front-input(type="text" required)

    .form-group.input__dates
      label(for='input__month') Ngày hết hạn:&nbsp; 
        i (chỉ nhập 2 số cuối của năm)
      input#input__month.form-control.front-input(type="text" placeholder="Tháng" required)
      span &nbsp;/&nbsp;
      input#input__year.form-control.front-input(type="text" placeholder="Năm" required)

    .form-group
      label(for='input__name') Nhập tên chủ thẻ:
      input#input__name.form-control.front-input(type="text" required)

    .form-group
      label(for='input__name') Mã số CVV:
      input#input__cvv.form-control.back-input(type="text" required)


