#updates.modal.fade
  .modal-dialog.modal-dialog-centered
    .modal-content
      // Modal Header
      .modal-header
        h1.modal-title What&apos;s new
        button.close(type='button' data-dismiss='modal') &times;
      // Modal body
      .modal-body
        ul 
          li - v1.1 (14/03): Tối ưu
          li - v1.2 (16/03): Giả lập đăng ký/đăng nhập/đăng xuất cơ bản (sử dụng local storage, chỉ hiển thị được tên người dùng trên thanh nav)
      // Modal footer
      .modal-footer.justify-content-between
        span.updates__hide-warning Sau khi đóng, thông báo này sẽ không hiển thị nữa cho đến khi mở trang chủ trong 1 tab mới 