#updates.modal.fade
  .modal-dialog.modal-dialog-centered.modal-dialog-scrollable
    .modal-content
      // Modal Header
      .modal-header
        h1.modal-title What&apos;s new
        button.close(type='button' data-dismiss='modal') &times;
      // Modal body
      .modal-body
        ul 
          li.mb-3
            h2.font-weight-bold.text-left v1.1: 
            ul 
              li - Tối ưu mục review
              li - Fix bug mất viền item khi focus
              li - Giản lược animation

          li.mb-3
            h2.font-weight-bold.text-left v1.2: 
            ul 
              li - Mô phỏng đăng ký/đăng nhập/đăng xuất cơ bản (sử dụng local storage, chỉ hiển thị được tên người dùng trên thanh nav)
              li - Mô phỏng loading trang

          li.mb-3
            h2.font-weight-bold.text-left v1.3: 
            ul 
              li - Tối ưu kich thước một số tài nguyên (R.I.P "space-background-4K-Ultra-HD-Pro-Max.png")

        .projects.mt-5
          p.mb-2 Các project khác của tôi:  

          ul 
            li.d-block.mx-auto.mt-1
              a.text-primary(href="https://ducnt444.github.io/planetary/" target="_blank") - PLANETARY: demo web về du lịch vũ trụ, sử dụng Vue.JS

            li.d-block.mx-auto.mt-1 
              a.text-primary(href="https://changeable-list.herokuapp.com/" target="_blank") - Changeable list: demo sử dụng Jquery, DOM manipulation, REST API cơ bản

            li.d-block.mx-auto.mt-1 
              a.text-primary(href="https://ducnt444.github.io/react-task-manager/" target="_blank") - Task manager: demo sử dụng React

          p.mt-3.mb-2.text-center.font-italic ducnt444@gmail.com @ 2021

      // Modal footer
      .modal-footer.justify-content-between
        span.updates__hide-warning Sau khi đóng, thông báo này sẽ không hiển thị nữa cho đến khi mở lại trang web trong 1 tab mới 