/* ---------- reset css ----------*/
* {
  box-sizing: border-box;
  margin: 0;
  
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
	border-collapse: collapse;
  border-spacing: 0;
}

/* ---------- kết thúc reset css ----------*/

/* ---------- style chung header ----------*/
header {
  width: 980px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background-color: rgb(212, 212, 212);
}

/* ---------- hết style chung header ----------*/

/* ---------- style upper-header ----------*/
#upper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(197, 197, 197);
}

  /* ---------- style: logo, search box, search icon, small banner ----------*/
#logo-link {
  width: 150px;
  margin-left: 15px;
}

#cart {
  width: 30px;
}

#small-banner {
  width: 190px;
}

#search-form {
  width: 545px;
  display: flex;
  flex-flow: row wrap;
}

input[type="image"] {
  width: 45px;
  padding: 10px;
  background-color: #F57227;
}

input[type="text"] {
  width: 500px;
  padding: 10px;
  border: none;
  background-color: #eff0f5;
}

input[type="text"]:focus {
  outline: none;
}
  /* ------ kết thúc style: logo, search box, search icon, small banner ------*/

/* ---------- kết thúc style upper-header ----------*/

/* ---------- style nav ----------*/

.menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: column;
  position: relative;
}

.menu_item {
  display: inline-block;
  margin-right: 10px;
  position: static;
}

.menu_link {
  display: inline-block;
  padding: 10px 0;
  text-decoration: none;
  color: black;
}

/* Style cho menu nhỏ */
.sub_menu {
  width: 80px;
  display: none;
  list-style: none;
  padding: 10px 0 10px 10px;
  position: absolute;
  top: 100%;
  background-color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
}

.menu_item:hover .sub_menu {
  display: block;
}

.sub_item:not(:last-child) {
  margin-bottom: 10px;
}

.sub_link {
  text-decoration: none;
  color: black;
}

/* Style cho sub2 menu */
.sub2_menu {
  display: none;
  width: 80px;
  list-style: none;
  padding: 10px 0 10px 10px;
  position: absolute;
  background-color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  top: 0;
  left: 100%;
}

.sub_item:hover > .sub2_menu {
  display: block;
}

.banner-container *{
  max-width: 100%;
}

.banner-container {
  width: 750px;
}

