/* ---------- reset css ----------*/
* {
  box-sizing: border-box;
  margin: 0; 
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
	border-collapse: collapse;
  border-spacing: 0;
}

/* ---------- kết thúc reset css ----------*/

/* ---------- style chung ----------*/

header {
  width: 980px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-right: auto;
  margin-left: auto;
}

/* ---------- hết style chung header ----------*/

/* ----------  upper-nav ----------*/
#upper-nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-inline-start: 0px;
  background: rgba(0,0,0,.03);
  height: 25px;
}
#upper-nav a {
  font-size: 12px;
  color: #9e9e9e;
  transition: color .2s;
  font-family: Roboto-Regular,'Helvetica Neue',Helvetica,Tahoma,Arial,Sans-serif;
}

#upper-nav a:hover {
  color: rgb(252, 76, 76);
}

/* ---------- style middle-header ----------*/
#middle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgb(197, 197, 197);
}
  /* ---------- style: logo, search box, search icon, small banner ----------*/
#logo-link {
  width: 150px;
  margin-left: 15px;
}

#cart {
  width: 30px;
}

#small-banner {
  width: 190px;
}

#search-form {
  width: 545px;
  display: flex;
  flex-flow: row wrap;
}

input[type="image"] {
  width: 45px;
  padding: 10px;
  background-color: #F57227;
}

input[type="text"] {
  width: 500px;
  padding: 10px;
  border: none;
  background-color: #eff0f5;
}

input[type="text"]:focus {
  outline: none;
}
  /* ------ kết thúc style: logo, search box, search icon, small banner ------*/

/* ---------- kết thúc style middle-header ----------*/

/* ---------- style nav ----------*/

.main-menu {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: column wrap;
  position: relative;
  width: 200px;
}

.main-menu, .sub-menu-lv1, .sub-menu-lv2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.menu-items, .sub-items {
  display: inline-block;
  padding: 5px 0 5px 10px;
}

.menu-links {
  display: inline-block;
  padding: 0;
  text-decoration: none;
  color: black;
}

.sub-menu-lv1 {
  display: none;
  width: 200px;
  height: 272px;
  list-style: none;
  padding-inline-start: 0px;
  position: absolute;
  background-color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  top: 0px;
  left: 100%;
}

.sub-items {
  padding-right: 5px;
}

.menu-items:hover .sub-menu-lv1 {
  display: block;
}

.sub-items:not(:last-child) {
  margin-bottom: 0px;
}

.sub-links {
  text-decoration: none;
  color: black;
}

/* Style cho sub2 menu */
.sub-menu-lv2 {
  display: none;
  width: 200px;
  height: 272px;
  list-style: none;
  position: absolute;
  background-color: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .2);
  top: 0;
  left: 100%;
  padding-inline-start: 0px;
}

.sub-items:hover > .sub-menu-lv2 {
  display: block;
}

.sub-items, .sub-links, .menu-links {
  display: block;
  width: 100%;
}

.menu-items:hover, .sub-items:hover {
  background-color: rgb(233, 233, 233);
}

.menu-items:hover > a, .sub-items:hover > a {
  color:  rgb(252, 76, 76);;
}

.banner-container {
  width: 780px;
  height: 273px;
}

.banner-container img {
  width: 100%;
  height: 100%;
}

nav {
  border-bottom: 1px solid rgb(197, 197, 197);
}