* {
  outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
  box-sizing: border-box;
  text-align: center;
}

body {
  background-color: rgba(235, 235, 235, 0.959);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

table {
	border-collapse: collapse;
  border-spacing: 0;
}

#page-container {
  width: 960px;
  margin: 0px auto 0px auto;
  background-color: white;
}

header, nav, #nav-list {
  width: 100%;
} 

#nav-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  height: 45px;
  background-color: rgb(255, 27, 27);
}

.nav-items {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.nav-items a {
  color: white;
  width: 100%;
}

.nav-items:hover {
  background-color: rgba(9, 96, 236, 0.904);
}

#logo-container {
  height: 90px;
  display: flex;
  flex-flow: row nowrap;
}

.logo {
  max-height: 100%;
}

.logo:first-child {
  width: 40%;
}

.logo:last-child {
  width: 60%;
}

.banner {
  max-width: 100%;
}

main {
  margin-top: 5px;
  display: flex;
  flex-flow: row nowrap;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  justify-content: space-between;
}

#left-container {
  width: 22%;
}

#main-container {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
}

#region-container {
  width: 100%;
}

#region-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.region-items {
  width: 32%;
  height: 35px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: rgba(236, 34, 34, 0.685);
}

.region-items:hover {
  background-color: rgba(240, 81, 81, 0.685);
}

.region-items a {
  color: white;
  width: 100%;
  text-align: center;
}

table, tr, td, th {
  border: 1px solid black;
}

table {
  margin-top: 5px;
  border: 5px solid rgb(63, 63, 63);
  font-weight: 800;
  line-height: 38px;
  font-size: 18px;
}

#special-header, #special-number {
  color: red;
}

#special-number {
  font-size: 1.5em;
}

.marked {
  background-color: rgb(236, 242, 243);
}

th {
  font-weight: 400
}

td>div:hover {
  background-color: rgb(255, 217, 0);
  cursor: text;
}

#title:hover, #date:hover {
  background-color: white
}

#title p {
  color: rgb(192, 36, 57);
  font-size: 25px;
  font-weight: 1000;
  padding: 5px 0px 0px 0px;
}


.two-container, .three-container, .four-container {
  float: left;
  border-right: 1px solid black;
}

.two-container:last-child, .three-container:last-child, .four-container:last-child {
  border-right: none;
}

.two-container {
  width: 50%;
}

.three-container {
  width: 33.33333%;
}

.four-container {
  width: 25%;
}

#right-container {
  width: 26%;
  border: 1px solid rgb(143, 143, 143);
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  height: 220px;
}

#news-title-container {
  width: 100%;
  height: 40px;
  background-color: rgb(245, 57, 57);
  display: flex;
  justify-content: center;
  align-items: center;
}

#news-title-container p {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

#news-list-container {
  height: 180px;
}

#news-list {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.news-list-items {
  width: 100%;
}

.news-list-items a {
  color: black;
  text-align: start;
  width: 246.92px;
}

#kha-panh, #kha-panh img {
  width: 100%;
  margin-top: 10px;
}

figcaption {
  font-style: italic;
  font-size: 20px;
  font-weight: 500;
  color: black;
  margin-top: 3px;
}

footer {
  margin-top: 30px;
  height: 120px
}

#footer-nav {
  width: 100%;
  border: 1px solid rgb(156, 156, 156);
  border-left: none;
  border-right: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}

.footer-nav-items {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.footer-nav-items a:hover {
  color: red;
}

#copy-logo-slogan {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}

#copy-logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#copy-logo-slogan p {
  margin: 0px 15px 0px 20px;
  font-size: 19px;
  font-weight: bold;
}
