/* ---------- reset css ----------*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
  color: black;
}

ul {
  list-style: none;
}

table {
	border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family:
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  "Roboto",
  "Helvetica Neue", Arial, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-family: lato;
  
}

img {
  vertical-align: middle;
  height: auto;
  max-width: 100%;
}


/* ---------- kết thúc reset css ----------*/

/*---fonts styles---*/

menu a, 
.header-apply,
.member-text,
.apply p:first-of-type,
.process-text,
.apply-sm-text, 
footer {
  font-size: 11px;
}

.see-more,
.news-title {
  font-size: 16px;
}

.scroll-down, 
.drag p:first-of-type {
  font-size: 18px;
}

.description, 
.vivamus, 
.drag, 
.header-logo, 
.footer-logo {
  font-size: 16px;
  line-height: 20px;
}

.wel-description, 
.process-title, 
.stats-text, 
.full-area p:first-of-type, 
label {
  font-size: 16px;
}

.drag p:first-of-type, 
.description, 
.vivamus,
.member-text {
  color: #818182;
}

h1, 
.process-title, 
.drag p:last-of-type {
  color: #283583;
}

h1 {
  font-size: 46px;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-size: 38px;
  line-height: 32px;
  color: #020202;
  text-align: center;
  margin-top: 85px !important;
  margin-bottom: 25px !important;

}

.stats-num {
  font-weight: 900;
  font-size: 44px;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px !important;
}

.author {
  font-size: 12px;
  color:#848484;
}

.page-container {
  max-width: 100%;
  padding: 15px 15px 0px 15px;
}

button {
  border: none;
  outline: none !important;
  background-color: transparent;
  font-size: 20px;
}

.page-container {
  max-width: 1440px;
  margin: auto;
}

.big-container {
  max-width: 1140px;
  margin: auto;
}

a {
  display: block !important;
}

p {
  margin: 0px;
}

.see-more {
  background-color: #283583;
  border-radius: 15px;
  color: #ffffff;
  text-align: center;
  transition: transform 0.5s;
  margin-bottom: 0px !important;
  margin: auto;
}

.see-more:hover {
  background-color: rgb(11, 29, 112);
  color: white;
  transform: scale(1.1);
}

.description {
  width: 100%;
  max-height: 140px;
  overflow: hidden;
  text-align: center;
  margin-bottom: 35px !important;
  color: #818182;
}

/*-------header-------*/

header {
  position: relative;
}

.header-logo {
  color: #EB5B49;
  text-align: center;
  margin-left: calc(50% - )
}

#sm-hidden {
  display: none;
  border: none !important;
}

.header-apply {
  display: none;
}

.logo-button-container {
  display: flex;
  align-items: center;
}

.small {
  margin-left: calc(50% - 17.5px - 35px);
  width: 70px;
}

#menu {
  width: 100%;
  position: absolute;
  top: 35px;
  transition: visibility 0.5s, opacity 0.5s;
  visibility: hidden;
  opacity: 0;
  background-color: #ffffff;
}

#menu ul {
  border: 1px solid black;
  border-bottom: none;
  margin: 0;
}

#menu ul a {
  text-align: center;
  width: 100%;
  border-bottom: 1px solid black;
}

.welcome {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 60px;
}

.wel-description {
  text-align: center;
}

.welcome h1 {
  margin: 30px 0px;
}

.welcome p:first-of-type {
  margin-bottom: 30px;
}

.about {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.about * {
  margin-bottom: 50px;
}

.see-more {
  width: 240px;
}

.team, .members {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.member-info {
  text-align: center;
}

.members:last-child {
  margin-top: 50px;
}

.process-area {
  display: flex;
  justify-content: space-between;
  max-width: 500px;
  margin: auto;
}

.myrow {
  width: calc(50% - 10px);
  display: flex;
  flex-flow: column;
  align-items: center;
}

.process-items {
  background: #FFFFFF;
  box-shadow: 0px 4px 21px -5px rgba(97, 97, 97, 0.233752);
  border-radius: 10px;
  font-size: 10px;
  max-width: 226px;
  padding: 30px;
  margin-bottom: 30px;
}

.stats {
  margin-top: 85px;
  display: flex;
  flex-flow: column;
  align-items: center;
  text-align: center;
}

.stats-items {
  background: #EB5B49;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.185547);
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}

.stats-items p {
  margin-bottom: 0;
  line-height: 25px;
}

.vivamus:last-of-type {
  margin: 50px 0px 0px 0px;
}

.brands *{
  margin-top: 15px;
}

.news {
  margin-top: 85px;
}

.news-area {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
}

.news-items {
  max-width: 360px;
  margin-bottom: 30px;
  mix-blend-mode: normal;
  border: 1px solid #DFDFDF;
}

.news-items-content {
  padding: 20px;
}

.news-content-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author-area, .time-area {
  display: flex;
  align-items: center;
  justify-content:center
}

.author-area p, .time-area p {
  margin-left: 5px;
}

form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.form-col {
  width: calc(50% - 7.5px);
}

.input-container {
  max-width: 360px;
  margin: 0px auto 42px auto;
}

label {
  width: 100%;
}

input[type="text"], input[type="email"] {
  display: block;
  height: 30px;
  width: 100%;
  border: 1px solid #D5D5D5;
  border-radius: 8px;
}

.full-area {
  width: 100%;
  margin-bottom: 42px;
}

.full-area a {
  height: 181px;
  border: 1px solid #D5D5D5;
  border-radius: 8px;
}

.drag {
  width: fit-content;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
  border-bottom: 1px solid #283583;
}

.drag p:first-of-type {
  margin: 47px 0px 18px 0px;
  text-align: center;
}

.drag p:last-of-type {
  text-align: center;
}

label, .full-area p {
  font-weight: bold;
  margin-bottom: 10px;
}

#comment {
  height: 120px;
  text-align: start;
}

.apply-sm-text {
  line-height: 20px;
  color: #A2A2A2;
  margin-bottom: 70px;
}

.apply .see-more {
  background-color: #EB5B49;
}

footer {
  width: 100%;
  background-color: #EB5B49;
  margin-top: 109px;
  text-align: center;
}

footer, footer a {
  color: white !important;
}

.footer-container {
  margin: auto;
  display: flex;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-menu li {
  width: calc(33% - 5px);
}

.language-menu {
  po
}