extends parts/layout.pug

block title 
  title Journey the card game

block css
  link(rel="stylesheet", href="css/title.css")

block script

block content

  .screen.d-flex.justify-content-center.align-items-center
    .title-box.box-1
      h1.login-header.text-center Login
      h1.register-header.text-center.hidden Register

      form.d-flex.flex-column.align-items-center(action="")
        input(type="text" placeholder="Username") 
        button.btn.btn--login(type="button") Confirm
        button.btn.btn--register.hidden(type="button") Confirm
      .log-reg-wrapper 
        p.to-register.text-center Create new profile
        p.to-login.text-center.hidden Return to login

    .loading.d-flex.justify-content-center.align-items-end.hidden--fade
      h1.loading-header.me-3 Loading
      .loading-icon
        span.spinner-grow.spinner-grow-sm
        span.spinner-grow.spinner-grow-sm.mx-2
        span.spinner-grow.spinner-grow-sm
