extends parts/layout.pug

block title 
  title Journey the card game

block css
  link(rel="stylesheet", href="css/lobby.css")

block script
  script(src="js/lobby.js") 

block content
  .screen
    

